[build-system]
requires = ["setuptools>=68.0"]
build-backend = "setuptools.build_meta"

# https://github.com/qiskit-community/ecosystem/issues/462
[tool.setuptools]
py-modules = []
include-package-data = false

[tool.setuptools.packages.find]
include = ['qiskit_class_converter*']
exclude = ['qiskit_class_converter*tests']

[project]
name = "qiskit-classroom-converter"
version = "0.0.4"
authors = [
    { name = "KMU-quantum-classroom" },
]
description = "extend the Qiskit classroom applications."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
dependencies = [
    "qiskit==0.44.0",
    "qiskit-aer==0.12.2",
    "loguru==0.7.0",
    "sympy==1.12",
    "antlr4-python3-runtime==4.11",
    "tomli==2.0.1; python_version < '3.11'"
]

[project.optional-dependencies]
dev = [
    "coverage==7.2.7",
    "pylint==2.17.5",
    "tox==4.6.4",
    "build==0.10.0",
    "pdoc==14.0.0"
]

[project.urls]
"Homepage" = "https://github.com/KMU-quantum-classroom/qiskit-classroom-converter"
"Bug Tracker" = "https://github.com/KMU-quantum-classroom/qiskit-classroom-converter/issues"